* {
    margin: 0;
    padding: 0;

    /*    overflow: hidden;*/
    /*
    outline: solid #f00 1px !important;
    background: #000 !important;
    color: #fff !important;*/
}

body {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    color: #32dad1;
    font-size: 18px;
    background-image: url(../res/bg.jpg);
    overflow: hidden;
    height: 100%;
}

.startGame {
    z-index: 10;

    display: flex;
    /*将对象作为弹性伸缩盒显示*/
    justify-content: center;
    /*子盒子排布的方式，*/
    align-items: center;
    /*子盒子排布的方式，*/
}

.reStart,
.startBtn,
.returnBtn {
    width: 2rem;
    height: 0.6rem;

    background: rgb(22, 153, 125);
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    margin-bottom: 6%;

}

.gaming {
    position: relative;
    margin-top: 15px;
    width: 450px;
    height: 700px;
    border-radius: 6px;
    touch-action: none;
    background: rgba(44, 77, 121, 0.733);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.gaming .quiz {
    padding: 70px 0;

    font-size: 26px;
    color: #FFFFFF;
    margin: 0 auto;
}

.gaming .main {
    font-size: 0.3rem;
    color: #FFFFFF;
    margin: 0.6rem 0;
    /*上下外边距为1rem ,左右为0*/
    background: rgba(0, 0, 0, 0.6);
    /**/
    padding: 0.4rem;
    /*内边距(上下左右边距)为 0.4rem*/
    border-radius: 0.5rem;
    /*圆角*/
}

.gaming .main .optionItem {
    padding: 0.05rem;
    border-radius: 0.1rem;
    margin: 0.05rem 0rem;

}

.num,
.finalScore {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 0.4rem;
    color: rgb(27, 224, 231);
    opacity: 0.8;

}

.gaming h2,
.gaming h3 {
    padding: 30px 0;
    text-align: center;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 0.4rem;
    color: rgb(193, 240, 236);
    opacity: 0.8;
}